.btn {
  padding: 12px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #ffcc33;
  color: #2b0000;
}

.btn-primary:hover {
  background-color: #2b0000;
  color: #ce8a23;
}

.btn-secondary {
  background-color: #fff;
  color: #2b0000;
}

.btn-secondary:hover {
  background-color: #2b0000;
  color: #ce8a23;
}
